label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.error {
    color: red;
    margin-bottom: 10px;
}

.success {
    color: green;
    margin-bottom: 10px;
}

.sort_button {
    padding: 8px;
    width: fit-content;
    box-sizing: border-box;
    height: fit-content;
    margin-right: 8px;
    border: 1px solid grey;
    background-color: lightgrey;
}

.page_button {
    padding: 8px;
    width: fit-content;
    box-sizing: border-box;
    height: fit-content;
    margin-right: 8px;
    margin-top: 8px;
    border: 1px solid grey;
    background-color: lightgrey;
}

.find_button {
    padding: 8px;
    width: fit-content;
    box-sizing: border-box;
    height: fit-content;
    margin-right: 8px;
    margin-bottom: 8px;
    border: 1px solid grey;
    background-color: lightgrey;
}

.login_form {
    height: 500px;
    width: 600px;
    padding: 20px;
}

.register_form {
    height: 500px;
    width: 600px;
    padding: 20px;
}

.file_upload {
    margin: 40px;
    padding: 20px;
    min-height: 100px;
}

.all_users_list {
    margin: 40px;
    padding: 20px;
    min-height: 400px;
}

.all_files_list {
    margin: 40px;
    padding: 20px;
    min-height: 400px;
}

.files_list {
    margin: 40px;
    padding: 20px;
    min-height: 400px;
}

.all_users_table {
    border: 1px solid grey;
    border-spacing: 10px;
    margin-bottom: 16px;
}

.all_files_table {
    margin-top: 16px;
    margin-bottom: 16px;
    border: 1px solid grey;
    border-spacing: 10px;
    width: fit-content;
    height: max-content;
}

.files_table {
    margin-top: 16px;
    margin-bottom: 16px;
    border: 1px solid grey;
    border-spacing: 10px;
    width: fit-content;
    height: max-content;
    margin-bottom: 8px;
}

.all_users_table tr {
    padding: 10px;
    border: 1px solid grey;
}

.all_users_table th {
    padding: 10px;
    border: 1px solid grey;
}

.all_users_table td {
    padding: 10px;
    border: 1px solid grey;
}

.all_files_table tr {
    padding: 10px;
    border: 1px solid grey;
}

.all_files_table th {
    padding: 10px;
    border: 1px solid grey;
}

.all_files_table td {
    padding: 10px;
    border: 1px solid grey;
}

.files_table tr {
    padding: 10px;
    border: 1px solid grey;
}

.files_table th {
    padding: 10px;
    border: 1px solid grey;
}

.files_table td {
    padding: 10px;
    border: 1px solid grey;
}
