<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Error</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<h1>A error has occurred!</h1>

<div sec:authorize="isAuthenticated()">
    <div th:if="${error}" class="error" th:text="${error}"></div>
</div>

<div sec:authorize="hasRole('ROLE_ADMIN')" >
    <div th:if="${stackTrace}" th:text="${stackTrace}" />
</div>

<div sec:authorize="isAnonymous()">
    <p>Please <a href="/login">login</a> or <a href="/register">register</a>.</p>
</div>
</body>
</html>